html {
	overflow: hidden;
}

body {
	margin: 0px;
	padding: 0px;
}

#container {
	position: absolute;
	top: 1%;
	bottom: 100%;
	right: 1%;
	width: 193px;
	height: 167px;
}

header {
	opacity: 0.8;
}

header img {
	width: 193px;
	height: 167px;
}

/* Firefox old*/
@-moz-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
} 

@-webkit-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
/* IE */
@-ms-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
} 
/* Opera and prob css3 final iteration */
@keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}